body{
	background-color:#0f0f0f;
	text-align:center;
	font-size:1rem;
	margin:0;
	height:100vh;
	width:100vw;
	font-family:'JetBrains Mono', monospace
}
.banner{
	background-color:#0d0d0d;
	color:#585858d6;
	height:3.4rem;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:5;
	width:100vw
}
.banner-container{
	display:flex;
	width:calc(100vw - 2.25em);
	height:3.4rem;
	margin:0 auto;
	justify-content:space-between;
	align-items:center
}
.heart{
	background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23D72626' stroke='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'%3E%3C/path%3E%3C/svg%3E");
	background-size:cover;
	background-position:center;
	display:inline-block;
	width:.875rem;
	height:.875rem;
	margin:0 .3em 0 0
}
.main{
	margin:auto;
	align-items:center;
	display:grid;
	width:100vw
}
.middle{
	margin:2em 0 1em 0;
	width:100vw
}
.amount{
	display:inline-block;
	padding:1.1em 0 2em 0
}
.totals{
	font-size:2.5rem;
	color:#585858d6
}
.bitcoin{
	position: relative;
	color: #ff600063;
	font-size: 2.5rem;
	font-weight:300
}
.sats {
	position: relative;
	color: #885414bd;
	font-size: 2.5rem;
	font-weight:300
}
.btc-short, .sats-short {
	color: #585858d6;
	font-weight: 100
}
.symbol{
	font-size:12rem;
	color:#1a1a1a;
	height:14rem;
	margin:2rem 0 0;
	font-weight:500
}
#currency-amount{
	background-color:#1a1a1a;
	text-align:center;
	color:#0f0f0f;
	width:95%;
	height:6.25rem;
	font-weight:500;
	font-size:4.5rem;
	border:0;
	outline:0;
	border-radius:.2em;
	font-family:'JetBrains Mono', monospace
}
#currency-select{
	font-size:.93rem;
	background:#1a1a1a;
	border-radius:.5em;
	color:#585858d6;
	height:1.5625rem;
	padding-left:1.25em;
	border:0;
	outline:0;
	font-family:'JetBrains Mono', monospace;
	font-weight: 100;
	width:15em
}
.monies{
	width:100vw
}
.currency_select{
	font-size:1rem;
	color:#585858d6;
	width:225px
}
.made{
	font-size:.7rem;
	color:#585858d6
}
.bitko{
	height:2.1rem;
	transform: rotate(13.88deg)
}
.btc-svg{
	height:2.5rem;
	transform: rotate(13.88deg)
}
